# IDEs
.vscode/
.idea/

# macOS
.DS_Store

# Ruby / Bundler
.gem
.bundle

# Node.js / npm
node_modules/
npm-debug.log

# Static asset / index files
pages/index.json
index.json

# Generated PDF pages
scripts/pdf/*.html
scripts/pdf/tldr-pages.pdf

# Python virtual environment
scripts/pdf/venv/

# Python cache
__pycache__/

# Logs
debug.log
