/* SPDX-License-Identifier: MIT */

@font-face {
    font-family: "sans-serif";
    src: url("NotoSans-Regular.ttf") format("truetype");
}

p {
    margin-left: 2.5em;
}

code {
    color: darkslategrey;
}

h1, h2, h4, ul {
    font-family: "sans-serif";
}

.title-main {
    text-align: center;
    margin-top: 6em;
    font-size: 350%;
}

.title-sub {
    text-align: center;
    font-size: 120%;
    color: darkslategrey;
}

.title-dir {
    text-align: center;
    margin-top: 8.2em;
    font-size: 300%;
}

/*
The same is to have this look like a H1 tag, but we want the H2 tag so the
bookmarks list makes sense.
*/
h2.title-page {
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
}
