@font-face {
  font-family: "PT Serif";
  src: url("pt-serif-web-regular.ttf") format("truetype");
}

p {
  margin-left: 2.5em;
}

code {
  color: darkslategrey;
}

h1, h2, h4, ul {
  font-family: "PT Serif";
}

.title-main {
  text-align: center;
  margin-top: 6em;
  font-size: 350%;
}

.title-sub {
  text-align: center;
  font-size: 120%;
  color: darkslategrey;
}

.title-dir {
  text-align: center;
  margin-top: 8.2em;
  font-size: 300%;
}
