@font-face {
    font-family: 'PT_Serif-Web-Regular';
    src: url('PT_Serif-Web-Regular.ttf')  format('truetype');
}

p {
    margin-left: 2.5em;
}

code {
    color: #b58900;
}

h1, h2, h4, ul {
    font-family: "PT_Serif-Web-Regular";
    color: #93a1a1;
}

body {
    background-color: #002b36;
}


h1.titlemain {
    text-align: center;
    margin-top: 6em;
    font-size: 350%;
}

h4.titlesub {
    text-align: center;
    font-size: 120%;
    color: #b58900;
}

h2.titledir {
    text-align: center;
    margin-top: 8.2em;
    font-size: 300%;
}